
ALWLinkedTextViewDemo/ALWLinkedTextView/ALWLinkedTextView.xcodeproj/xcuserdata/JohnGump.xcuserdatad/xcschemes/xcschememanagement.plist

ALWLinkedTextViewDemo/ALWLinkedTextView/ALWLinkedTextView.xcodeproj/project.xcworkspace/xcuserdata/JohnGump.xcuserdatad/UserInterfaceState.xcuserstate

ALWLinkedTextViewDemo/ALWLinkedTextView/ALWLinkedTextView.xcodeproj/xcuserdata/JohnGump.xcuserdatad/xcschemes/ALWLinkedTextView.xcscheme
